<html>
   <head>
      
      <title>
         {% block title %}Page Title{% endblock %}
      </title>
      <style>
         body {background-color: powderblue;}
         h2 {color: blue;}
         p {
            color: #503248;
            font-family: courier;
            }
         div {
            margin-left: 20%;
            margin-right: 20%;
            text-align: justify;
            }
      </style>
   </head>
	
   <body>
   
      {% block content %}
         Body content
      {% endblock %}
      
   </body>
</html>